In [2]:
import git
import os

# Specify the path of the file to be deleted
file_path = 'D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData'

# Check if the file exists before attempting to delete it
if not os.path.exists(file_path):
    repo = git.Repo.clone_from('https://github.com/PhonePe/pulse.git','D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData')

In [3]:
def format_number(number):
    number = int(number)
    if number >= 10000000:  # If number is greater than or equal to 10 crores
        return "{:,.2f} crores".format(number / 10000000)
    elif number >= 100000:  # If number is greater than or equal to 1 lakh
        return "{:,.2f} lakhs".format(number / 100000)
    elif number >= 1000:  # If number is greater than or equal to 1 thousand
        return "{:,.2f} thousands".format(number / 1000)
    else:
        return "{:,.2f}".format(number)

In [ ]:
import json
import pandas as pd
aggreated_transaction_path = 'D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/aggregated/transaction/country/india/'

transaction ={'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

year_list = os.listdir(aggreated_transaction_path)

for year in year_list:
    if year  == 'state':
        continue
    path = aggreated_transaction_path+year+'/'
    quarter_list = os.listdir(path)
    for quarter in quarter_list:
        qtr_path = path+quarter
        D = open(qtr_path,'r')
        data =json.load(D)
        for value in  data['data']['transactionData']:
            Name = value['name']
            count = value['paymentInstruments'][0]['count']
            amount=format_number(value['paymentInstruments'][0]['amount'])
            transaction['Transaction_amount'].append(amount)
            transaction['Transaction_count'].append(count)
            transaction['Transaction_type'].append(Name)
            transaction['Year'].append(year)
            transaction['Quarter'].append(int(quarter.strip('.json')))

transcation_df = pd.DataFrame(transaction)

In [ ]:
transcation_df

In [8]:
import json
import pandas as pd
import os
aggreated_user_state_path='D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/aggregated/transaction/country/india/state/'

state_transcation ={'State':[],'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
state_list = os.listdir(aggreated_user_state_path)
for state in state_list:  
    year_path = aggreated_user_state_path+state+'/'
    year_list = os.listdir(year_path)
    for year in year_list:
        path = year_path+year+'/'
        quarter_list = os.listdir(path)
        for quarter in quarter_list:
            qtr_path = path+quarter
            D = open(qtr_path,'r')
            data =json.load(D)
            for value in  data['data']['transactionData']:
                Name = value['name']
                count = value['paymentInstruments'][0]['count']
                amount=format_number(value['paymentInstruments'][0]['amount'])
                state_transcation['Transaction_amount'].append(amount)
                state_transcation['Transaction_count'].append(count)
                state_transcation['Transaction_type'].append(Name)
                state_transcation['Year'].append(year)
                state_transcation['State'].append(state)
                state_transcation['Quarter'].append(int(quarter.strip('.json')))

st_transcation_df = pd.DataFrame(state_transcation)         
st_transcation_df['State'] = st_transcation_df['State'].str.title()

In [9]:
states_list = st_transcation_df["State"].unique().tolist()
states_list

['Andaman-&-Nicobar-Islands',
 'Andhra-Pradesh',
 'Arunachal-Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra-&-Nagar-Haveli-&-Daman-&-Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal-Pradesh',
 'Jammu-&-Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya-Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil-Nadu',
 'Telangana',
 'Tripura',
 'Uttar-Pradesh',
 'Uttarakhand',
 'West-Bengal']

In [7]:
import json
import pandas as pd
import os
aggreated_user_state_path='D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/aggregated/user/country/india/state/'

state_user ={'State': [], 'Year': [], 'Quarter': [], 'Brands': [], 'Count': [],
            'Percentage': [],'Users_count':[],'App_opening':[]}
state_list = os.listdir(aggreated_user_state_path)
for state in state_list:  
    year_path = aggreated_user_state_path+state+'/'
    year_list = os.listdir(year_path)
    for year in year_list:
        path = year_path+year+'/'
        quarter_list = os.listdir(path)
        for quarter in quarter_list:
            qtr_path = path+quarter
            D = open(qtr_path,'r')
            data =json.load(D)
            print(data['data']['aggregated']['registeredUsers'])
            user_count = data['data']['aggregated']['registeredUsers']
            app_open = data['data']['aggregated']['appOpens']
            try:  
                for value in  data['data']['usersByDevice']:
                    Brand = value['brand']
                    count = value['count']
                    percent = value['percentage']
                    state_user['Brands'].append(Brand)
                    state_user['Count'].append(count)
                    state_user['Percentage'].append(percent)
                    state_user['Year'].append(year)
                    state_user['State'].append(state)
                    state_user['Quarter'].append(int(quarter.strip('.json')))
                    state_user['Users_count'].append(user_count)
                    state_user['App_opening'].append(app_open)
            except:
                pass        

            

st_user_df = pd.DataFrame(state_user)

6740
9405
12149
15222
18596
21731
23931
25960
28368
32710
41335
52396
57758
62095
66982
71780
76288
80530
84642
88442
92484
96329
100255
103978
3336450
4402540
5427617
6857409
8283019
9389003
10458693
11757883
13022060
14319675
15692405
17076565
18363733
19620905
21059898
22489029
23857951
25157264
26496330
27778016
29065863
30240061
31493897
32658698
21495
32883
45922
61852
76957
95885
112149
129321
149066
177534
206046
231292
251240
270572
293073
314944
335339
354528
373372
390307
408273
426410
444789
462088
385237
571046
784802
1039221
1259085
1500128
1731523
1941220
2185938
2550883
2830011
3106153
3358448
3617056
3918480
4209591
4492589
4755787
5016910
5247776
5499650
5749682
5998586
6234780
2133804
3005872
3784535
4776665
5745117
6589759
7380265
8342274
9351234
10603767
11763213
12889833
13946288
14972134
16160771
17335981
18484658
19569894
20694376
21738117
22796011
23781971
24776510
25695856
86268
115219
143893
177747
209175
240439
267337
289590
312887
336351
362588
391402
419998
448572
480463
512092
541549
569582
598698
627563
654522
678662
704144
727594
679263
950675
1217792
1579998
1908898
2191066
2435058
2725900
3016487
3401658
3799386
4190601
4514551
4837055
5206084
5565481
5916961
6238349
6562237
6846822
7159660
7469508
7779977
8057016
53258
71458
92107
116511
140532
158580
176929
197598
218496
244814
267946
296493
321396
344994
371874
398963
424570
449016
474807
500125
524617
546364
569035
590760
2087022
2756141
3504911
4630313
5499263
6165448
6782286
7289883
7826197
8391139
9044174
9747968
10467210
11182699
11980061
12785127
13539197
14260143
15009523
15764149
16480011
17103089
17747167
18363626
91936
122174
153802
195350
238152
278940
317194
353546
391900
430639
474962
527584
570035
609106
653458
697178
738628
777779
817830
855202
892185
926020
961831
995923
2690048
3565825
4433183
5579040
6652536
7574645
8429299
9323799
10259843
11392657
12467847
13605203
14670126
15735981
16946761
18139201
19265314
20321596
21394721
22412353
23436230
24396768
25383429
26312655
1847357
2447221
3020398
3793079
4538767
5178030
5783752
6366679
7018770
7682878
8398816
9129873
9827905
10530594
11325336
12116439
12866988
13576065
14303933
14994944
15688161
16314236
16956489
17556642
227373
315299
407634
526343
653205
772603
876184
985945
1106025
1249867
1378634
1508766
1622951
1743151
1880626
2013747
2143483
2264407
2381576
2483076
2594668
2706470
2816046
2924952
176425
261609
342529
436563
530669
631193
658455
673367
735408
845294
949819
1079022
1174818
1261267
1359860
1456810
1549320
1635570
1719185
1793434
1873039
1953132
2031447
2108166
885762
1230599
1532362
1913949
2279329
2604854
2915511
3281371
3651393
4061035
4480027
4917938
5313049
5701503
6151843
6596196
7025275
7426174
7836429
8217638
8609107
8980709
9360730
9707336
3717763
5030665
6372649
8315802
10266174
11968087
13635075
15385416
17016980
18655366
20487550
22400182
24095832
25751023
27614221
29459646
31200349
32831447
34493994
36081698
37681426
39122314
40634390
42031396
784184
1066587
1347598
1757326
2136624
2550167
2990963
3503938
4078316
4728844
5582300
6387169
6936943
7416083
7949425
8473810
8972299
9442533
9933977
10382102
10822723
11237341
11669143
12084974
8784
12918
17749
23883
29649
35516
39173
43108
47790
53034
58401
64853
69919
75048
81210
87057
92492
97517
102299
106337
110991
115736
120435
124828
501
686
918
1156
1416
1747
2117
2427
2772
3187
3644
4179
4577
4896
5287
5638
5990
6327
6645
6961
7267
7585
7912
8225
2553603
3441662
4309309
5365442
6414403
7301172
8180664
9165241
10151371
11374423
12564224
13737947
14839427
15940935
17210233
18456243
19656147
20766417
21884220
22913924
24002818
25042930
26109033
27078072
6106994
8222371
10435033
13381602
16284451
18776975
21313081
23745297
26168390
28765086
31409513
34432631
37077537
39664697
42581217
45482506
48227630
50802786
53432602
55954028
58470784
60766850
63150997
65422120
29925
46055
61935
82589
99527
117747
136316
155358
177374
215496
258563
288772
312668
335409
361749
387746
411900
434563
457063
477292
498337
519799
541572
564130
18513
26618
37281
49634
61487
74746
87395
100030
113814
136211
157741
176447
190869
205686
223065
240268
255839
269943
283487
295322
308324
322382
336282
349330
7593
10422
14502
19365
23670
28696
34134
39809
46499
55574
68315
78731
85750
92552
100647
108405
115295
121535
127735
132870
138751
145061
151378
157627
15074
22436
32090
42997
53911
66891
80077
93124
107143
130205
173106
192188
207808
223337
241797
259990
276483
292104
307386
321205
335936
351024
366203
381162
1594015
2185781
2795718
3623911
4320744
4845359
5387209
6115537
6652970
7258315
7901755
8598751
9233009
9891029
10652490
11399235
12124779
12801990
13493282
14127239
14787083
15420061
16064459
16680992
49318
65580
81546
109494
133059
156458
177868
204292
230908
255600
285173
319626
346279
369961
396609
423167
448051
471663
496570
520649
543819
564431
586550
607838
847142
1152190
1473148
1865715
2226590
2600112
2962713
3321742
3739502
4225481
4694233
5157868
5568777
5976548
6434862
6880103
7302726
7702100
8097582
8462753
8837408
9197055
9555997
9898002
3158202
4212964
5175453
6358738
7712204
8783935
9797304
10925031
12142053
13563201
14969412
16329494
17661088
18980985
20499465
21977202
23398857
24716181
26042948
27255927
28523031
29745609
30997182
32157348
20051
28097
37637
48538
58956
70999
82128
92972
104631
119921
134773
148543
160213
171740
184693
197407
209616
220994
232025
241968
252440
262728
272829
282575
2104754
2996036
3900177
5199878
6296303
7429609
8428835
9620493
10872368
12150786
13643451
15357586
16632608
17804542
19127440
20433142
21667020
22829720
24019964
25136112
26270663
27317599
28405436
29452801
3315560
4260115
5138501
6529679
7963425
9046007
10090557
11220691
12306860
13378191
14590882
15927797
17149069
18306880
19615278
20917649
22150612
23314363
24506111
25656381
26804259
27814633
28896668
29902636
55157
83369
116874
153265
183254
217644
245456
272298
299962
336666
376731
409110
439636
472153
509929
546292
582124
615782
649143
678741
710884
743024
774678
806344
4694250
6442554
8096483
10341964
12458661
14316349
16044607
17949542
20136256
22498519
24838116
27249134
29482075
31651894
34151882
36617655
38999692
41247289
43537920
45648650
47806049
49829833
51870932
53799813
483043
649142
810612
1012103
1224955
1414339
1585859
1752677
1943606
2148567
2365438
2596244
2802122
3004040
3233509
3460015
3674829
3877056
4081976
4272049
4464369
4645322
4829992
5001826
2604789
3833795
4851740
6279278
7449425
8612795
9643222
10885058
11960822
13222022
14448366
15662093
16808799
17979979
19323278
20644527
21919787
23124388
24372048
25536381
26732895
27827662
28966414
30064546

In [10]:
st_user_df

,State,Year,Quarter,Brands,Count,Percentage,Users_count,App_opening
0,andaman-&-nicobar-islands,2018,1,Xiaomi,1665,0.247033,6740,0
1,andaman-&-nicobar-islands,2018,1,Samsung,1445,0.214392,6740,0
2,andaman-&-nicobar-islands,2018,1,Vivo,982,0.145697,6740,0
3,andaman-&-nicobar-islands,2018,1,Oppo,501,0.074332,6740,0
4,andaman-&-nicobar-islands,2018,1,OnePlus,332,0.049258,6740,0
...,...,...,...,...,...,...,...,...
6727,west-bengal,2022,1,Lenovo,330017,0.015056,21919787,236131065
6728,west-bengal,2022,1,Infinix,284678,0.012987,21919787,236131065
6729,west-bengal,2022,1,Asus,280347,0.012790,21919787,236131065
6730,west-bengal,2022,1,Apple,277752,0.012671,21919787,236131065
6731,west-bengal,2022,1,Others,2196334,0.100199,21919787,236131065

In [ ]:
import json
import pandas as pd
aggreated_user_path='D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/aggregated/user/country/india/'

user ={'Year': [], 'Quarter': [], 'Brands': [], 'Count': [],
            'Percentage': []}

year_list = os.listdir(aggreated_user_path)
for year in year_list:
    if year == 'state':
        continue
    path = year_path+year+'/'
    quarter_list = os.listdir(path)
    for quarter in quarter_list:
        qtr_path = path+quarter
        D = open(qtr_path,'r')
        data =json.load(D)
        try:
            for value in  data['data']['usersByDevice']:
                Brand = value['brand']
                count = value['count']
                percent = value['percentage']
                user['Brands'].append(Brand)
                user['Count'].append(count)
                user['Percentage'].append(percent)
                user['Year'].append(year)
                user['Quarter'].append(int(quarter.strip('.json')))
        except:
            pass        

user_df = pd.DataFrame(user)

In [ ]:
user_df

In [ ]:
import json
import pandas as pd
map_transaction_path = 'D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/map/transaction/hover/country/india/'

map_transaction ={'Year':[],'Quarter':[],'State':[], 'Transaction_count':[], 'Transaction_amount':[]}

year_list = os.listdir(map_transaction_path)

for year in year_list:
    if year  == 'state':
        continue
    path = map_transaction_path+year+'/'
    quarter_list = os.listdir(path)
    for quarter in quarter_list:
        qtr_path = path+quarter
        D = open(qtr_path,'r')
        data =json.load(D)
        for value in  data['data']['hoverDataList']:
            Name = value['name']
            count = value['metric'][0]['count']
            amount=format_number(value['metric'][0]['amount'])
            map_transaction['Transaction_amount'].append(amount)
            map_transaction['Transaction_count'].append(count)
            map_transaction['State'].append(Name)
            map_transaction['Year'].append(year)
            map_transaction['Quarter'].append(int(quarter.strip('.json')))

map_transcation_df = pd.DataFrame(map_transaction)

In [ ]:
map_transcation_df

In [ ]:
import json
import pandas as pd
map_state_transaction_path = 'D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/map/transaction/hover/country/india/state/'

map_st_transaction ={'Year':[],'Quarter':[],'State':[],'District':[],'Transaction_count':[], 'Transaction_amount':[]}

state_list = os.listdir(map_state_transaction_path)

for state in state_list:
    state_path = map_state_transaction_path+state+'/'
    year_list = os.listdir(state_path)
    for year in year_list:
        path = state_path+year+'/'
        quarter_list = os.listdir(path)
        for quarter in quarter_list:
            qtr_path = path+quarter
            D = open(qtr_path,'r')
            data =json.load(D)
            try:
                for value in  data['data']['hoverDataList']:
                    Name = value['name']
                    count = value['metric'][0]['count']
                    amount=format_number(value['metric'][0]['amount'])
                    map_st_transaction['Transaction_amount'].append(amount)
                    map_st_transaction['Transaction_count'].append(count)
                    map_st_transaction['District'].append(Name)
                    map_st_transaction['State'].append(state)
                    map_st_transaction['Year'].append(year)
                    map_st_transaction['Quarter'].append(int(quarter.strip('.json')))
            except:
                pass        

map_st_transcation_df = pd.DataFrame(map_st_transaction)

In [ ]:
map_st_transcation_df

In [ ]:
import json
import pandas as pd
map_user_path='D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/map/user/hover/country/india/'

mp_user ={'Year': [], 'Quarter': [], 'State': [], 'Count': []}

year_list = os.listdir(map_user_path)
for year in year_list:
    if year == 'state':
        continue
    path = map_user_path+year+'/'
    quarter_list = os.listdir(path)
    for quarter in quarter_list:
        qtr_path = path+quarter
        D = open(qtr_path,'r')
        data =json.load(D)
        # try:
         # Extract state names and data
        states = list(data['data']['hoverData'].keys())
        for value in  states:
            state = value
            count = data['data']['hoverData'][state]["registeredUsers"]
            mp_user['State'].append(state)
            mp_user['Count'].append(count)
            mp_user['Year'].append(year)
            mp_user['Quarter'].append(int(quarter.strip('.json')))
        # except Exception as e:
            # print(e)
            # pass        

map_user_df = pd.DataFrame(mp_user)

In [ ]:
map_user_df

In [11]:
import json
import pandas as pd
import os

map_st_user_path = "D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/map/user/hover/country/india/state/"

mp_st_user = {
    "Year": [],
    "Quarter": [],
    "State": [],
    "District": [],
    "Count": [],
    "App_Opening": [],
}
mp_state_list = os.listdir(map_st_user_path)
for state in mp_state_list:
    year_path = map_st_user_path + state + "/"
    year_list = os.listdir(year_path)
    for year in year_list:
        path = year_path + year + "/"
        quarter_list = os.listdir(path)
        for quarter in quarter_list:
            qtr_path = path + quarter
            D = open(qtr_path, "r")
            data = json.load(D)
            # try:
            # Extract state names and data
            districts = list(data["data"]["hoverData"].keys())
            for value in districts:
                district = value
                count = data["data"]["hoverData"][district]["registeredUsers"]
                app_opening = data["data"]["hoverData"][district]["appOpens"]
                mp_st_user["State"].append(state)
                mp_st_user["Count"].append(count)
                mp_st_user["App_Opening"].append(app_opening)
                mp_st_user["Year"].append(year)
                mp_st_user["Quarter"].append(int(quarter.strip(".json")))
                mp_st_user["District"].append(district)
            # except Exception as e:
            # print(e)
            # pass
    map_st_user_df = pd.DataFrame(mp_st_user)
    map_st_user_df["State"] = map_st_user_df["State"].str.title()

In [12]:
map_st_user_df.

,Year,Quarter,State,District,Count,App_Opening
0,2018,1,Andaman-&-Nicobar-Islands,north and middle andaman district,632,0
1,2018,1,Andaman-&-Nicobar-Islands,south andaman district,5846,0
2,2018,1,Andaman-&-Nicobar-Islands,nicobars district,262,0
3,2018,2,Andaman-&-Nicobar-Islands,north and middle andaman district,911,0
4,2018,2,Andaman-&-Nicobar-Islands,south andaman district,8143,0

In [18]:
import psycopg2

def psql_client():
    try:
        connection = psycopg2.connect(host='localhost',
                user='postgres',
                password='admin',
                database='phonepe')
        return connection
    except Exception as e:
        print(e)

In [19]:
import uuid
import psycopg2

try:
    agg_user = map_st_user_df
    connection = psql_client()
    cursor = connection.cursor()

    for index, row in agg_user.iterrows():
        # Get state_id
        state_name = row["State"]
        cursor.execute(f"SELECT id FROM phonepe.state WHERE state_name='{state_name}'")
        state_id = cursor.fetchone()[0]
        cursor.fetchall()
        # Get year_id
        year_value = row["Year"]
        cursor.execute(f"SELECT id FROM phonepe.year WHERE year={year_value}")
        year_id = cursor.fetchone()[0]
        cursor.fetchall()  # Fetch all results to clear the unread result
        # Insert transaction data
        cursor.execute(
            f"""INSERT INTO phonepe.users_location(user_location_key,
                               district_name,
                               users_count,
                               app_openig,
                               quarter,
                               state_key,
                               year_key)
	                            VALUES ('{uuid.uuid4()}','{row['District']}',{row['Count']},{row['App_Opening']},{row['Quarter']},{state_id},{year_id});"""
        )
        connection.commit()
except (psycopg2.Error, Exception) as e:
    print.write("An error occurred:", e)
finally:
    if connection:
        connection.close()

In [4]:
import json
import pandas as pd
import os
top_transcn_path='D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/top/transaction/country/india/'

top_transcn_by_st = {'State': [], 'Year': [], 'Quarter': [], 'Transaction_count': [],
            'Transaction_amount': []}
top_transcn_by_dt = {'District': [], 'Year': [], 'Quarter': [], 'Transaction_count': [],
            'Transaction_amount': []}
top_transcn_by_pcd = {'PinCode': [], 'Year': [], 'Quarter': [], 'Transaction_count': [],
            'Transaction_amount': []}

year_list = os.listdir(top_transcn_path)

for year in year_list:
    if year  == 'state':
        continue
    path = top_transcn_path+year+'/'
    quarter_list = os.listdir(path)
    for quarter in quarter_list:
        qtr_path = path+quarter
        D = open(qtr_path,'r')
        data =json.load(D)
        for value in  data['data']['states']:
            Name = value['entityName']
            count = value['metric']['count']
            amount=(value['metric']['amount'])
            top_transcn_by_st['Transaction_amount'].append(amount)
            top_transcn_by_st['Transaction_count'].append(count)
            top_transcn_by_st['State'].append(Name)
            top_transcn_by_st['Year'].append(year)
            top_transcn_by_st['Quarter'].append(int(quarter.strip('.json')))
        for value in  data['data']['districts']:
            Name = value['entityName']
            count = value['metric']['count']
            amount=(value['metric']['amount'])
            top_transcn_by_dt['Transaction_amount'].append(amount)
            top_transcn_by_dt['Transaction_count'].append(count)
            top_transcn_by_dt['District'].append(Name)
            top_transcn_by_dt['Year'].append(year)
            top_transcn_by_dt['Quarter'].append(int(quarter.strip('.json')))
        for value in  data['data']['states']:
            Name = value['entityName']
            count = value['metric']['count']
            amount=(value['metric']['amount'])
            top_transcn_by_pcd['Transaction_amount'].append(amount)
            top_transcn_by_pcd['Transaction_count'].append(count)
            top_transcn_by_pcd['PinCode'].append(Name)
            top_transcn_by_pcd['Year'].append(year)
            top_transcn_by_pcd['Quarter'].append(int(quarter.strip('.json')))

top_transcation_st_df = pd.DataFrame(top_transcn_by_st) 
top_transcation_dt_df = pd.DataFrame(top_transcn_by_dt) 
top_transcation_pcd_df = pd.DataFrame(top_transcn_by_pcd)

In [6]:
top_transcation_pcd_df.head()

          PinCode  Year  Quarter  Transaction_count  Transaction_amount
0     maharashtra  2018        1           16387034        2.171161e+10
1   uttar pradesh  2018        1           12537805        1.393997e+10
2       karnataka  2018        1           12016899        1.921790e+10
3     west bengal  2018        1           11710225        1.062598e+10
4  andhra pradesh  2018        1            9039585        1.199628e+10

In [ ]:
import json
import pandas as pd
top_state_transaction_path = 'D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/top/transaction/country/india/state/'

top_st_transaction_pincode ={'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Transaction_count': [],
            'Transaction_amount': []}
top_st_transaction_district ={'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Transaction_count': [],
            'Transaction_amount': []}

state_list = os.listdir(top_state_transaction_path)

for state in state_list:
    state_path = top_state_transaction_path+state+'/'
    year_list = os.listdir(state_path)
    for year in year_list:
        path = state_path+year+'/'
        quarter_list = os.listdir(path)
        for quarter in quarter_list:
            qtr_path = path+quarter
            D = open(qtr_path,'r')
            data =json.load(D)
           
            for value in  data['data']['pincodes']:
                Name = value['entityName']
                count = value['metric']['count']
                amount=format_number(value['metric']['amount'])
                top_st_transaction_pincode['Transaction_amount'].append(amount)
                top_st_transaction_pincode['Transaction_count'].append(count)
                top_st_transaction_pincode['Pincode'].append(Name)
                top_st_transaction_pincode['State'].append(state)
                top_st_transaction_pincode['Year'].append(year)
                top_st_transaction_pincode['Quarter'].append(int(quarter.strip('.json')))
            
            for value in data['data']['districts']:
                Name = value['entityName']
                count = value['metric']['count']
                amount=format_number(value['metric']['amount'])
                top_st_transaction_district['Transaction_amount'].append(amount)
                top_st_transaction_district['Transaction_count'].append(count)
                top_st_transaction_district['District'].append(Name)
                top_st_transaction_district['State'].append(state)
                top_st_transaction_district['Year'].append(year)
                top_st_transaction_district['Quarter'].append(int(quarter.strip('.json')))
                    
                   

top_st_transcation_pincode_df = pd.DataFrame(top_st_transaction_pincode)    
top_st_transcation_district_df = pd.DataFrame(top_st_transaction_district)

In [ ]:
top_st_transcation_district_df

In [ ]:
import json
import pandas as pd
import os
top_user_path='D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/top/user/country/india/'

top_st_by_user ={'Year': [], 'Quarter': [], 'State': [], 'Count': []}
top_dt_by_user ={'Year': [], 'Quarter': [], 'District': [], 'Count': []}
top_pcd_by_user ={'Year': [], 'Quarter': [], 'PinCode': [], 'Count': []}

year_list = os.listdir(top_user_path)
for year in year_list:
    if year == 'state':
        continue
    path = top_user_path+year+'/'
    quarter_list = os.listdir(path)
    for quarter in quarter_list:
        qtr_path = path+quarter
        D = open(qtr_path,'r')
        data =json.load(D)
        for value in data['data']['states']:
            Name = value['name']
            count = value['registeredUsers']
            top_st_by_user['State'].append(Name)
            top_st_by_user['Count'].append(count)
            top_st_by_user['Year'].append(year)
            top_st_by_user['Quarter'].append(int(quarter.strip('.json')))
        for value in data['data']['districts']:
            Name = value['name']
            count = value['registeredUsers']
            top_dt_by_user['District'].append(Name)
            top_dt_by_user['Count'].append(count)
            top_dt_by_user['Year'].append(year)
            top_dt_by_user['Quarter'].append(int(quarter.strip('.json')))
        for value in data['data']['pincodes']:
            Name = value['name']
            count = value['registeredUsers']
            top_pcd_by_user['PinCode'].append(Name)
            top_pcd_by_user['Count'].append(count)
            top_pcd_by_user['Year'].append(year)
            top_pcd_by_user['Quarter'].append(int(quarter.strip('.json')))            
        
   

top_st_user_df = pd.DataFrame(top_st_by_user)
top_dt_user_df = pd.DataFrame(top_dt_by_user)
top_pcd_user_df = pd.DataFrame(top_pcd_by_user)

In [ ]:
top_pcd_user_df

In [2]:
import json
import pandas as pd
import os
top_state_user_path = 'D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/top/user/country/india/state/'

top_usr_by_st_pincode ={'State': [], 'Year': [], 'Quarter': [], 'Pincode': [], 'Count': []}
top_usr_by_st_district ={'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Count': []}

state_list = os.listdir(top_state_user_path)

for state in state_list:
    state_path = top_state_user_path+state+'/'
    year_list = os.listdir(state_path)
    for year in year_list:
        path = state_path+year+'/'
        quarter_list = os.listdir(path)
        for quarter in quarter_list:
            qtr_path = path+quarter
            D = open(qtr_path,'r')
            data =json.load(D)
           
            for value in  data['data']['pincodes']:
                Name = value['name']
                count = value['registeredUsers']
                top_usr_by_st_pincode['Count'].append(count)
                top_usr_by_st_pincode['Pincode'].append(Name)
                top_usr_by_st_pincode['State'].append(state)
                top_usr_by_st_pincode['Year'].append(year)
                top_usr_by_st_pincode['Quarter'].append(int(quarter.strip('.json')))
            
            for value in data['data']['districts']:
                Name = value['name']
                count = value['registeredUsers']
                top_usr_by_st_district['Count'].append(count)
                top_usr_by_st_district['District'].append(Name)
                top_usr_by_st_district['State'].append(state)
                top_usr_by_st_district['Year'].append(year)
                top_usr_by_st_district['Quarter'].append(int(quarter.strip('.json')))
                    
                   

top_st_usr_pincode_df = pd.DataFrame(top_usr_by_st_pincode)    
top_st_usr_pincode_df['State'] = top_st_usr_pincode_df['State'].str.title()
top_st_usr_district_df = pd.DataFrame(top_usr_by_st_district)    
top_st_usr_district_df['State'] = top_st_usr_district_df['State'].str.title()

In [3]:
top_st_usr_pincode_df.head()

                       State  Year  Quarter Pincode  Count
0  Andaman-&-Nicobar-Islands  2018        1  744103   1608
1  Andaman-&-Nicobar-Islands  2018        1  744101   1108
2  Andaman-&-Nicobar-Islands  2018        1  744105   1075
3  Andaman-&-Nicobar-Islands  2018        1  744102   1006
4  Andaman-&-Nicobar-Islands  2018        1  744104    272

In [21]:
import pandas as pd
import plotly.express as px

df = top_st_usr_pincode_df

fig = px.choropleth(
    df,
    geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
    featureidkey='properties.ST_NM',
    locations='State',
    color='Count',
    color_continuous_scale='Reds'
)

fig.update_geos(fitbounds="locations", visible=False)

fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [4]:

import os
import json
import pandas as pd
aggreated_user_state_path='D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/aggregated/user/country/india/state/'

state_user ={'State': [], 'Year': [], 'Quarter': [], 'Brands': [], 'Count': [],
            'Percentage': [],'Users_count':[],'App_opening':[]}
state_list = os.listdir(aggreated_user_state_path)
for state in state_list:  
    year_path = aggreated_user_state_path+state+'/'
    year_list = os.listdir(year_path)
    for year in year_list:
        path = year_path+year+'/'
        quarter_list = os.listdir(path)
        for quarter in quarter_list:
            qtr_path = path+quarter
            D = open(qtr_path,'r')
            data =json.load(D)
            user_count = data['data']['aggregated']['registeredUsers']
            app_open = data['data']['aggregated']['appOpens']
            try:  
                for value in  data['data']['usersByDevice']:
                    Brand = value['brand']
                    count = value['count']
                    percent = value['percentage']
                    state_user['Brands'].append(Brand)
                    state_user['Count'].append(count)
                    state_user['Percentage'].append(percent)
                    state_user['Year'].append(year)
                    state_user['State'].append(state)
                    state_user['Quarter'].append(int(quarter.strip('.json')))
                    state_user['Users_count'].append(user_count)
                    state_user['App_opening'].append(app_open)
            except:
                pass        
st_user_df = pd.DataFrame(state_user)

In [6]:
st_user_df

,State,Year,Quarter,Brands,Count,Percentage,Users_count,App_opening
0,andaman-&-nicobar-islands,2018,1,Xiaomi,1665,0.247033,6740,0
1,andaman-&-nicobar-islands,2018,1,Samsung,1445,0.214392,6740,0
2,andaman-&-nicobar-islands,2018,1,Vivo,982,0.145697,6740,0
3,andaman-&-nicobar-islands,2018,1,Oppo,501,0.074332,6740,0
4,andaman-&-nicobar-islands,2018,1,OnePlus,332,0.049258,6740,0
...,...,...,...,...,...,...,...,...
6727,west-bengal,2022,1,Lenovo,330017,0.015056,21919787,236131065
6728,west-bengal,2022,1,Infinix,284678,0.012987,21919787,236131065
6729,west-bengal,2022,1,Asus,280347,0.012790,21919787,236131065
6730,west-bengal,2022,1,Apple,277752,0.012671,21919787,236131065
6731,west-bengal,2022,1,Others,2196334,0.100199,21919787,236131065

In [1]:
import json
import pandas as pd
import os

map_st_user_path = "D:/Learning/Projects/PhonepePulseDataVisualization/src/phonepeData/data/map/user/hover/country/india/state/"

mp_st_user = {
    "Year": [],
    "Quarter": [],
    "State": [],
    "District": [],
    "Count": [],
    "App_Opening": [],
}
mp_state_list = os.listdir(map_st_user_path)
for state in mp_state_list:
    year_path = map_st_user_path + state + "/"
    year_list = os.listdir(year_path)
    for year in year_list:
        path = year_path + year + "/"
        quarter_list = os.listdir(path)
        for quarter in quarter_list:
            qtr_path = path + quarter
            D = open(qtr_path, "r")
            data = json.load(D)
            # try:
            # Extract state names and data
            districts = list(data["data"]["hoverData"].keys())
            for value in districts:
                district = value
                count = data["data"]["hoverData"][district]["registeredUsers"]
                app_opening = data["data"]["hoverData"][district]["appOpens"]
                mp_st_user["State"].append(state)
                mp_st_user["Count"].append(count)
                mp_st_user["App_Opening"].append(app_opening)
                mp_st_user["Year"].append(year)
                mp_st_user["Quarter"].append(int(quarter.strip(".json")))
                mp_st_user["District"].append(district)
            # except Exception as e:
            # print(e)
            # pass
    map_st_user_df = pd.DataFrame(mp_st_user)
    map_st_user_df["State"] = map_st_user_df["State"].str.title()

In [2]:
map_st_user_df

,Year,Quarter,State,District,Count,App_Opening
0,2018,1,Andaman-&-Nicobar-Islands,north and middle andaman district,632,0
1,2018,1,Andaman-&-Nicobar-Islands,south andaman district,5846,0
2,2018,1,Andaman-&-Nicobar-Islands,nicobars district,262,0
3,2018,2,Andaman-&-Nicobar-Islands,north and middle andaman district,911,0
4,2018,2,Andaman-&-Nicobar-Islands,south andaman district,8143,0
...,...,...,...,...,...,...
17563,2023,4,West-Bengal,nadia district,1603527,67224546
17564,2023,4,West-Bengal,birbhum district,1013025,52281841
17565,2023,4,West-Bengal,purba medinipur district,1589203,69991821
17566,2023,4,West-Bengal,maldah district,1134600,88292475
17567,2023,4,West-Bengal,darjiling district,660231,39079247